<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="FeedRequiringAuthentication" value="[address]" validated="True" />
  </packageSources>
  <packageSourceCredentials>
    <FeedRequiringAuthentication>
      <add key="Username" value="personalAccessToken" />
      <add key="ClearTextPassword" value="#{pat}#" />
    </FeedRequiringAuthentication>
  </packageSourceCredentials>
</configuration>